<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<!--    {{&#45;&#45;        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">&#45;&#45;}}-->
    
    <script src="<%= baseURL %>/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <title>Catie</title>
    <style type="text/css">
          body {
            background: rgb(33,42,104);
              background: linear-gradient(180deg, rgba(33,42,104,1) 0%, rgba(36,56,127,1) 42%, rgba(94,169,219,1) 100%);
              background-repeat: no-repeat;
              min-width: 100%;
                min-height: 100vh;
          }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row mt-5 mb-5 col-12">
        <div class="col-4">
            <figure class="figure">
                <img src="/Logo_CATIE_CMJN.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                <figcaption class="figure-caption"><h2>Journée Cohésion de Noël 2020</h2></figcaption>
            </figure>
        </div>
        <div class="col-4 offset-4">
            <figure class="figure">
                <img src="/Logo_QPUC.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
                
            </figure>
        </div>
    </div>
    <div class="row mt-5 ">
        <div  class="col-4 offset-4 text-center">
            <form id="app" action="/<%= id %>" method="post">
                <div class="form-group">
<!--                    {{csrf_field()}}-->
<!--                    <input type="hidden" name="roomid" id="roomid" value="azertyuiop">-->
                    <label for="pseudo" class="sr-only">Example label</label>
                    <input type="text" class="form-control" name="you" id="pseudo" placeholder="Pseudo">
                </div>
                <button type="submit" class="btn btn-block btn-primary mb-2">Create private room</button>
            </form>
        </div>
    </div>
</div>
<script>
    $( document ).ready(function() {
        var app = new Vue({
            el: '#app',
            data: {
                roomid: '<%= id %>',
            }
        })
    });
</script>
</body>
<!--<script src="//{{ Request::getHost() }}:6001/socket.io/socket.io.js"></script>-->
<!--<script src="{{asset('js/app.js')}}"></script>-->
</html>
